# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
*.swp

# Android
android/.gradle/
android/app/debug/
android/app/release/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.ipa

# Web
web/.dart_tool/

# Secrets (если будут)
.env
*.env
secrets.dart

# Сборка
*.log
*.lock
!pubspec.lock
